h2{
    text-align: center;
}

#display{
    color: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: #ac3236;
    position: relative;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 80px;
    table-layout: fixed;
    width:100%;
    
}
#display tr:first-child{
    background-color: #ac3236;
    color: white;
    font-size: 20px;

}
th{
    color: white;
}
tr  td{
    border-style: solid;
    border-width: 2 px;
    border-color: #ac3236;
    padding: 10px;
    
}
td  p{
    word-break:  break-word;
    margin: 30px auto;
    white-space: pre-line;
}
.button {
    display: block;
    width: 115px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: #ac3236;
    color: white;
    border:2px solid #ccc;
    padding: 10px 24px;
    transition-duration: 0.4s;
    margin-right: 46%;
    
}
.button:hover{
    text-decoration: none;
    padding: 10px 24px;
    border:2px solid #ac3236;
    background-color: white ;
    color: #ac3236;  
}
input[type=submit]{
    margin-right: 300px;
    margin-top: 30px;
    margin-bottom: 0;
}
input[type=submit], button{
    background-color: #ac3236;
    color: white;
    border:2px solid #ccc;
    padding: 10px 24px;
    transition-duration: 0.4s;
  }
    
input[type=submit]:hover,  button:hover {
    padding: 10px 24px;
    border:2px solid #ac3236;
    background-color: white ;
    color: #ac3236;  
}

