html{
    font-family: 'Markazi Text', serif;
  }
  
  
  .bg{
      background-color:rgb(217, 217, 217);
    }
    
  .head {
      color: white;
      
    }
    
    .p {
      font-family: verdana;
      font-size: 20px;
      color:black;
      font-weight: bold;
      
    }
    
    .chickbox{
      font-size:20px;
      border-radius: 2em;
      margin: 1.5em;
       font-weight: bold;
  
  
    }
    .btn{
      font-size:20px;
      border-radius: 2em;
      margin: 1.5em;
       font-weight: bold;
       background-color: #AC3236;
       color: white;
    
    }